<!DOCTYPE html>
<html>
<head>
  <title>Uucounter</title>
  <%= stylesheet_link_tag    "uucounter/application", media: "all" %>
  <%= javascript_include_tag "uucounter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
